* {
    padding: 0;
    margin: 0;
}

.logo {
    width: 10cm;
    height: 3cm;
    padding-top: 0.1cm;
}

/* Header */
header{
    width: auto;
    height: 120px;
    background: black;
    padding: 0 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.menu a{
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    color: #C47E4B;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    display: none;
    color: white;
}

.mostrar-menu{
    order:1;
    color: white;
    padding-right: 2cm;
}

.menu a:hover,
.mostrar-menu:hover
.esconder-menu:hover{
    color: #E9BABC;;
}

#check{
    display: none;
}

/*Mostrar Menú */

@media(max-width: 922px){
    
    .logo{
        max-width: 100%;
    }

    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
        
    }

    #check:checked ~ .menu{
        right: 0;
        
    }
}

@media(max-width: 500px){
    .logo{
        width: 90%;
        transition: 0.4s;
    }
}

@media(max-width: 996px){
    .menu .enlace{
        display: none;
    }
    .menu a{
        align-items: center;
    }
}

@media(max-width: 904px){
    .menu .enlace{
        display: inline;
        padding: 10px 0;
    }
}

@media(max-width: 1028px){
    .menu .enlace{
        display: none;
    }

    .menu .pag-inicio{
        display: none;
    }
}

.l:hover {
    color: white;
}

.bienvenida {
    background-image: url(img/inicio.jpg);
}

#sec1 {
    height: 100vh;
    background-color: rosybrown;
}

section:nth-child(4) {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.fondo:nth-child(3) {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

section:nth-child(5) {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.cuadro {
    width: 78vh;
    height: 70vh;
    margin-left: 62vh;
    border-radius: 1cm;
    background: linear-gradient(to right, #FFF, #BBB);
}

section div:nth-child(5) {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.input {
    border-radius: 0.8rem;
    border-color: #E9BABC;
}

#tarjeta {
    background: linear-gradient(to left, #407EE9, #E7B8AB);
}

#tarjeta1 {
    background: linear-gradient(to right, #B1B1B1, #E7B7AD);
}

#tarjeta2 {
    background: linear-gradient(to right, #D28E17, rgb(110, 104, 194));
}

#tarjeta3 {
    background: linear-gradient(to left, rgb(39, 107, 70), black);
}

section:nth-child(6) {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

/*Footer*/
footer {

    width: auto;
    background-color: black;
    text-align: center;
}

